@import url('https://fonts.googleapis.com/css2?family=Dhurjati&family=Pixelify+Sans&display=swap');
*{
    box-sizing: border-box;
    /* hauteur du header */
    margin: 0px;
    /* espace entre les mots quand on saute de ligne */
    padding: 10px;
    
    /* background: url(valorant\ wallpaper.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}


li, a, button, .context{
    font-family: 'Dhurjati', sans-serif;
    
    font-weight: 500;
    font-size: 20px;
    color: whitesmoke;
    text-decoration: none;
}

header{
    display: flex;
    flex-wrap: wrap;
    /* ? */
    border-radius: 100px;
    /* permet de mettre les items au fond à doite et à gauche */
    justify-content: space-between;
    /* taille du bord rouge du header */
    border: 1px solid;
    border-color: firebrick;
     /* 4eme nombre = transparrence */
    background-color: rgba(0, 0, 0, 0.6); 
    align-items: center;
    /* hauteur des mots, l'espace en horizentale utilisé */
    padding: 10px 10%;

}

.logo{
    cursor: pointer;
    
}

.nav_links{
    list-style: none;
}
/* taille des link du header */
.nav_links li {
    display: inline-block;
    /* hauteur du cadre des mots,taille en horizantale de cadre des mots */
    padding: 35px 20px ;
}
/* temps de rafraichissement */
.nav_links li a :hover {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    /* changement de couleur pour les lien quand la souris est dessus */
    color: greenyellow;
}


/* effet du boutton contact */
button {
    padding: 9px 25px ;
    background-color: rgb(128, 56, 51);
    border: 10px;
    
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
/* effet du boutton contact*/
button:hover {
    background-color: rgb(110, 6, 6);

}

.context{
    /* display: grid; */
    color: orange;
    border: 1px solid;
    border-color: firebrick;
    /* grid-template-columns: 150px 100px 50px;
    grid-template-rows: auto; */
    background-color: rgba(0, 0, 0, 0.6);
    /* espace entre le texte et la bordure */
    padding: 50px;
    /* pour centrer le texte masque le grid  */
    text-align: center;
    
}

.text{
    display: grid;
    color: orange;

    /* border: 2px solid;
    border-color: rgb(70, 18, 167); */

    /* grid-template-columns: 150px 100px 50px; */

    grid-template-rows: auto;

    /* background-color: rgba(0, 0, 0); */

    /* espace entre le texte et la bordure */
    padding: 50px;
    /* pour centrer le texte masque le grid  */
    /* text-align: center; */
    
    
    grid:
    '1 2 3';

    grid-gap: 50px;
    padding: auto;
}
.item1{
    grid-area: 1;
    border: 2px solid;
    border-color: rgb(70, 18, 167);
    background-color: rgba(0, 0, 0);
}

.item2{
    grid-area: 2;
    border: 2px solid;
    border-color: rgb(70, 18, 167);
    background-color: rgba(0, 0, 0);
}

.item3{
    grid-area: 3;
    border: 2px solid;
    border-color: rgb(70, 18, 167);
    background-color: rgba(0, 0, 0);
}
