@import url('https://fonts.googleapis.com/css2?family=Dhurjati&family=Pixelify+Sans&display=swap');
*{
    box-sizing: border-box;
    /* hauteur du header */
    margin: 0px;
    /* espace entre les mots quand on saute de ligne */
    padding: 10px;
    
}


li, a, button, .context{
    font-family: 'Dhurjati', sans-serif;
    
    font-weight: 500;
    font-size: 20px;
    color: whitesmoke;
    text-decoration: none;
}

header{
    display: flex;
    flex-wrap: wrap;
    /* met les bord d'à coté rond */
    border-radius: 100px;
    /* permet de mettre les items au fond à doite et à gauche */
    justify-content: space-between;
    /* taille du bord rouge du header */
    border: 1px solid;
    border-color: firebrick;
     /* 4eme nombre = transparrence */
    background-color: rgba(0, 0, 0, 0.6); 
    align-items: center;
    /* hauteur des mots, l'espace en horizentale utilisé */
    padding: 10px 10%;

}

.logo{
    cursor: pointer;
    
}

.nav_links{
    list-style: none;
}
/* taille des link du header */
.nav_links li {
    display: inline-block;
    /* hauteur du cadre des mots,taille en horizantale de cadre des mots */
    padding: 35px 20px ;
}
/* temps de rafraichissement */
.nav_links li a :hover {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    /* changement de couleur pour les lien quand la souris est dessus */
    color: greenyellow;
}


/* effet du boutton contact */
button {
    padding: 9px 25px ;
    background-color: rgb(128, 56, 51);
    border: 10px;
    
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
/* effet du boutton contact*/
button:hover {
    background-color: rgb(110, 6, 6);

}

.context{
    
    color: orange;
    border: 1px solid;
    border-color: firebrick;
    background-color: rgba(0, 0, 0, 0.6);
    /* espace entre le texte et la bordure */
    padding: 50px;
    text-align: center;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 100px 100px;
    justify-content: center;
    
    
    
}

.text{ 
    /* couleur des noms des maps */
    color: orange;
    gap: 20px 20px;
    
}



.item1{
    width: 100%;
    height: auto;
    display: grid;
    align-items: center;

    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.container {
    position: relative;
    width: 50%;
    text-align: left;
}

.container:hover .item1 {
    opacity: 0.3;
  }

.title{
    align-items: center;
    
    border: 10px solid;
    border-color: rgb(107, 24, 44);
    background-color: rgba(0, 0, 0);
    border-block: 10px solid rgb(240, 98, 88);
    writing-mode: horizontal-tb;
    direction: rtl;
}

/* pour changer l'écriture placé dans l'image */

.effet {
    transition: .5s ease;
    opacity: 0;
    
    position: absolute;
    top: 0%;
    left: 10%;

    text-align: left;

    
    line-height: 1.5;
    
    color: aquamarine;

}

.container:hover .effet {
    opacity: 1;
}


/* rendre le texte responsive (change selon la taille de la page) */

@media screen and (min-width: 956px) {
    div.effet {
        /* vw est une valeur qui rend le texte responsive 50%, je reconfigure a chaque fois  */
      font-size: 2.5vw;
      top:0%
    }
}

@media screen and (max-width: 955px) {
    div.effet {
      font-size: 2vw;
      top:10%
    }
}

@media screen and (max-width: 614px) {
    div.effet {
      font-size: 1.5vw;
    }
}







h1{
    /* l'espace libre qu'on on saute de ligne */
    line-height: 0.8;
}
.image-grid{
    /* pour que la map ne deborde pas hors de sa place */
    --gap:5px;
    --num-cols:1;
    --row-height:auto;

    box-sizing: border-box;
    padding:var(--gap);

    display: grid  ;
    grid-template-columns: repeat(var(--num-cols),2fr);
    grid-auto-rows:var(--row-height) ;
    gap:var(--gap);
    object-fit: cover;
    /* width controle la taille de l'image */
    width: 150%;
    height: auto;
    
}

/* rendre les images responsives (change selon la taille de la page) */
@media screen and (max-width: 955px) {
    div.image-grid {
      width:180%
    }
}

@media screen and (max-width: 614px) {
    div.image-grid {
      width:220%
    }
}


.image-grid > img {
   object-fit: cover;
   /* max-width: 1000px;
   max-height: 800px; */
   align-content: center;
   width:fit-content;
   max-width: 100%;
   height: auto;

   align-items: center;
   align-self: center;
   align-content: center;
    

}